
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Menü</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Panel</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Sayfa yerleşimi</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html">Dikey</a></li>
					        <li><a href="/layout-horizontal.html">Yatay</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Arayüz Elemanları</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Temel</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Uyarım</a></li>
							<li><a href="/bc_button.html">Düğme</a></li>
							<li><a href="/bc_badges.html">Başlıklar</a></li>
							<li><a href="/bc_breadcrumb-pagination.html">Sayfalama</a></li>
							<li><a href="/bc_card.html">Kartlar</a></li>
							<li><a href="/bc_collapse.html">Açılır bileşen</a></li>
							<li><a href="/bc_carousel.html">Geçişli bileşen</a></li>
							<li><a href="/bc_grid.html">Izgara sistemi</a></li>
							<li><a href="/bc_progress.html">İlerleme</a></li>
							<li><a href="/bc_modal.html">Kip</a></li>
							<li><a href="/bc_spinner.html">Helezon</a></li>
							<li><a href="/bc_tabs.html">Sekme & hap</a></li>
							<li><a href="/bc_typography.html">Tipografi</a></li>
							<li><a href="/bc_tooltip-popover.html">İpucu & üst bilgi</a></li>
							<li><a href="/bc_toasts.html">Anlık</a></li>
							<li><a href="/bc_extra.html">Diğer</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Formlar &amp; tablolar</label>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Formlar</span></a>
					</li>
					<li class="nav-item">
					    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap tablolar</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Çizelge & Haritalar</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Çizelge</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Haritalar</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Sayfalar</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Yetkilendirme</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html">Kaydol (şablon)</a></li>
					        <li><a href="/auth-signin.html">Giriş Yap (şablon)</a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Örnek sayfa</span></a></li>

					<li class="nav-item pcoded-menu-caption">
						<label>Eylem alanı</label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Çıkış yap</span></a>
					</li>
					<li class="nav-item">
					    <a target="_blank" rel="noopener" href="https://appseed.us/support" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Destek</span></a>
					</li>

				</ul>
				
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="feather icon-sunset f-40"></i>
                        <br />
						<p>Daha fazlası için</p>
						<a target="_blank" rel="noopener noreferrer" 
						   href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro"
                           class="btn btn-primary btn-sm text-white m-0">Gradient PRO</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
