{% extends "layouts/base.html" %}

{% block title %} Arayüz Uyarı {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Uyarı</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Temel bileşenler</a></li>
								<li class="breadcrumb-item"><a href="#!">Uyarı</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ basic-alert ] start -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h5>Temel Uyarımlar</h5>
						</div>
						<div class="card-body">
							<div class="alert alert-primary" role="alert">
								Temel öncül uyarımı!
							</div>
							<div class="alert alert-secondary" role="alert">
								Temel ikincil uyarımı!
							</div>
							<div class="alert alert-success" role="alert">
								Temel başarım uyarımı!
							</div>
							<div class="alert alert-danger" role="alert">
								Temel tehlike uyarımı!
							</div>
							<div class="alert alert-warning" role="alert">
								Temel uyarı uyarımı!
							</div>
							<div class="alert alert-info" role="alert">
								Temel bilgilendirme uyarımı
							</div>
							<div class="alert alert-light" role="alert">
								Temel parlak uyarım!
							</div>
							<div class="alert alert-dark" role="alert">
								Temel koyu uyarım!
							</div>
						</div>
					</div>
				</div>
				<!-- [ basic-alert ] end -->
				<!-- [ link-alert ] start -->
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h5>Bağlantı Uyarımları</h5>
						</div>
						<div class="card-body">
							<div class="alert alert-primary" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel öncül uyarım.
							</div>
							<div class="alert alert-secondary" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel ikincil uyarım.
							</div>
							<div class="alert alert-success" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel başarı uyarımı.
							</div>
							<div class="alert alert-danger" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel tehlike uyarımı.
							</div>
							<div class="alert alert-warning" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel uyarı uyarımı.
							</div>
							<div class="alert alert-info" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel bilgilendirme uyarımı.
							</div>
							<div class="alert alert-light" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel parlak uyarım.
							</div>
							<div class="alert alert-dark" role="alert">
								<a href="#!" class="alert-link">Örnek bağlantı</a> ile temel koyu uyarım.
							</div>
						</div>
					</div>
				</div>
				<!-- [ link-alert ] end -->
				<!-- [ dismiss-alert ] start -->
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h5>Geçiştir</h5>
						</div>
						<div class="card-body">
							<div class="alert alert-primary alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-secondary alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-light alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="alert alert-dark alert-dismissible fade show" role="alert">
								<strong>Hey</strong> şuna tekrar bir bak.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
						</div>
					</div>
				</div>
				<!-- [ dismiss-alert ] end -->
				<!-- [ additional-alert ] start -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h5>Ek İçerik</h5>
						</div>
						<div class="card-body">
							<div class="alert alert-success" role="alert">
								<h4 class="alert-heading">Aferin</h4>
								<p>Evet, bu test yazısını okudun. Bu metin uyarım alanlarının nasıl çalıştığını görebilmeniz için test amaşlı olarak biraz uzun olacak.</p>
								<hr>
								<p class="mb-0">Bu gibi içerikleri ne zaman kullanırsanız "margin" ayarlarını yapılandırdığınızdan emin olun.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- [ additional-alert ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
