{% extends "layouts/base.html" %}

{% block title %} UI Badges {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Başlıklar</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Temel Bileşenler</a></li>
								<li class="breadcrumb-item"><a href="#!">Başlıklar</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ badge ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Temel Başlıklar</h5>
						</div>
						<div class="card-body">
							<h1>Örnek başlık <span class="badge badge-secondary">Yeni</span></h1>
							<h2>Örnek başlık <span class="badge badge-secondary">Yeni</span></h2>
							<h3>Örnek başlık <span class="badge badge-secondary">Yeni</span></h3>
							<h4>Örnek başlık <span class="badge badge-secondary">Yeni</span></h4>
							<h5>Örnek başlık <span class="badge badge-secondary">Yeni</span></h5>
							<h6>Örnek başlık <span class="badge badge-secondary">Yeni</span></h6>
						</div>
					</div>
					<div class="card btn-page">
						<div class="card-header">
							<h5>Düğme Başlıkları</h5>
						</div>
						<div class="card-body">
							<button type="button" class="btn  btn-primary">öncül <span class="badge badge-light">4</span></button>
							<button type="button" class="btn  btn-secondary">ikincil <span class="badge badge-light">4</span></button>
							<button type="button" class="btn  btn-success">başarım <span class="badge badge-light">4</span></button>
							<button type="button" class="btn  btn-danger">tehlike <span class="badge badge-light">4</span></button>
							<button type="button" class="btn  btn-warning">uyarı <span class="badge badge-light">4</span></button>
							<button type="button" class="btn  btn-info">bilgi <span class="badge badge-light">4</span></button>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Bağlamsal Çeşitler</h5>
						</div>
						<div class="card-body">
							<span class="badge badge-primary">Öncül</span>
							<span class="badge badge-secondary">İkincil</span>
							<span class="badge badge-success">Başarım</span>
							<span class="badge badge-danger">Tehlike</span>
							<span class="badge badge-warning">Uyarı</span>
							<span class="badge badge-info">Bilgi</span>
							<span class="badge badge-light">Parlak</span>
							<span class="badge badge-dark">Koyu</span>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Hap Başlıklar</h5>
						</div>
						<div class="card-body">
							<span class="badge badge-pill badge-primary">Öncül</span>
							<span class="badge badge-pill badge-secondary">İkincil</span>
							<span class="badge badge-pill badge-success">Başarım</span>
							<span class="badge badge-pill badge-danger">Tehlike</span>
							<span class="badge badge-pill badge-warning">Uyarı</span>
							<span class="badge badge-pill badge-info">Bilgi</span>
							<span class="badge badge-pill badge-light">Parlak</span>
							<span class="badge badge-pill badge-dark">Koyu</span>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Bağlantılar</h5>
						</div>
						<div class="card-body">
							<a href="#!" class="badge badge-primary">Öncül</a>
							<a href="#!" class="badge badge-secondary">İkincil</a>
							<a href="#!" class="badge badge-success">Başarım</a>
							<a href="#!" class="badge badge-danger">Tehlike</a>
							<a href="#!" class="badge badge-warning">Uyarı</a>
							<a href="#!" class="badge badge-info">Bilgi</a>
							<a href="#!" class="badge badge-light">Parlak</a>
							<a href="#!" class="badge badge-dark">Koyu</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Parlak Çeşitler</h5>
						</div>
						<div class="card-body">
							<span class="badge badge-light-primary">Öncül</span>
							<span class="badge badge-light-secondary">İkincil</span>
							<span class="badge badge-light-success">Başarım</span>
							<span class="badge badge-light-danger">Tehlike</span>
							<span class="badge badge-light-warning">Uyarı</span>
							<span class="badge badge-light-info">Bilgi</span>
							<span class="badge badge-light-light">Parlak</span>
							<span class="badge badge-light-dark">Koyu</span>
						</div>
					</div>
				</div>
				<!-- [ badge ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
