{% extends "layouts/base.html" %}

{% block title %} UI Grid {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Izgara</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Temel Elemanlar</a></li>
								<li class="breadcrumb-item"><a href="#!">Izgara</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ grid ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Izgara Sistemi</h5>
						</div>
						<div class="card-body">
							<p>Mobil öncelikli tüm formlarda esnek hizlamaya sahip mizanpajlar oluşturmak için 12 sütunlu sistemi, 5 katmanlı duyarlı sistemi ve Sass değişkenleri ile  formüllerini kullanın</p>
							<h5 class="mt-5">Nasıl çalışır?</h5>
							<hr>
							<p>Bootstrap'in ızgara sistemi konteyner serisi, satırlar ve sütunlar ile içeriği sayfaya yerleştirir. <a
									href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Flexbox </a> ile yapılmıştır ve tamamen cihaz duyarlıdır(responsive). flexbox
								and is fully responsive. Aşağıda tam olarak nasıl çalıştığı gözlemlenebilir.</p>
							<p><strong>Flexbox'u ilk defa duydunuz veya aşina değil misiniz?</strong> Terminolojiye aşinalık kazanabilmek için<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background"> css-tirck sitesi üzerinden flexbox'ı okuyun</a></p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col-sm">
											Üç sütundan biri
										</div>
										<div class="col-sm">
											Üç sütundan biri
										</div>
										<div class="col-sm">
											Üç sütundan biri
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col-sm"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col-sm"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col-sm"&gt;
				Üç sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
														</code>
													</pre>
							</div>
							<p>Aşağıdaki örnek üç adet, küçük, orta ve büyük olmak üzere eş genişlikte sütunları önceden tanımlanmış sınıf etiketleri vasıtasıyla üretir.
								. Bu sütunlar <code
									class="highlighter-rouge">.container</code> sınıfı kullanılarak veli etiketleriyle birlikte merkeze hizalanmıştır.</p>
							<p>Peki bu sistem nasıl çalışır:</p>
							<ul>
								<li>Konteyner (<code
									class="highlighter-rouge">.container</code>)  içeriğini yatay düzlemde hizalamak için kullanılır. Duyarlı içerik için <code class="highlighter-rouge">.container</code> etiketini kullanabilir veya <code
										class="highlighter-rouge">.container-fluid</code>
									etiketiyle tüm cihaz türlerinde
									<code class="highlighter-rouge">width: 100%</code> genişliğe sahip olabilirsiniz.</li>

								<li>Satırlar ise sütunları sarmalar. Her sütunun aralarındaki boşluğu dengelemek için tanımlanmış <code class="highlighter-rouge">iç boşluk</code> değeri (olukları) vardır. Bu <code class="highlighter-rouge">iç boşluk</code>
									negatif kenar boşluklu satırlar için etkisizleştirilir. Böylece tüm sütunların içeriği sola hizalanmış olur.</li>

								<li>Izgara sisteminde içerik sütunlar içine yerleştirilebilir ve sütunlar da satırlar tarafından sarmalanır.</li>

								<li>Flexbox sayesinde, belirli bir genişliği olmayan ızgara sütunları otomatik olarak eşit genişlikte sütunlar olarak düzenlenecektir. Örneğin, dört <code class="highlighter-rouge">.col-sm</code> örneğinin her biri otomatik olarak küçük kesme noktasından itibaren %25 genişliğinde olacaktır. Daha fazla öğrenmek için <a href="#auto-layout-columns">auto-layout columns</a> makalesine göz atabilirsiniz.</li>

								<li>Sütun sınıfları, satır başına olası 12 sütundan kullanmak istediğiniz sütun sayısını belirtir. Bu nedenle, üç eşit genişlikte sütun istiyorsanız, <code class="highlighter-rouge">.col-4</code>'ü kullanabilirsiniz..</li>

								<li>Sütun genişlikleri yüzde olarak ayarlanır, bu nedenle her zaman akıcı ve üst öğelerine göre boyutlandırılmıştır.</li>

								<li>Sütunlar, ayrı sütunlar arasında oluklar oluşturmak için iç boşluğa (<code class="highlighter-rouge">padding</code>) sahiptir, ancak satırlardaki kenar boşluğunu ve satır (<code class="highlighter-rouge">.row</code>) üzerinde oluksuz (<code class="highlighter-rouge">no-gutter</code>) payı olan sütunlardaki dolguyu kaldırabilirsiniz..</li>

								<li>
									Izgarayı duyarlı hale getirmek için, her duyarlı kesme noktası için bir tane olmak üzere beş ızgara <a href="/docs/4.1/layout/overview/#responsive-breakpoints">kesme noktası</a> vardır: tüm kesme noktaları (çok küçük), küçük, orta, büyük ve çok büyük.
								</li>

								<li>Izgara kesme noktaları, minimum genişlikteki medya sorgularını temel alır, yani bu bir kesme noktasına ve onun üzerindeki tüm kesme noktalarına uygulanırlar (örneğin, <code class="highlighter-rouge">.col-sm-4</code> küçük, orta, büyük ve çok büyük cihazlar için geçerlidir, ancak ilk <code class="highlighter-rouge">xs</code> kesme noktası için geçerli değildir).</li>

								<li>
									Daha fazla anlamsal işaretleme için önceden tanımlanmış ızgara sınıflarını (<code class="highlighter-rouge">.col-4</code> gibi) veya <a href="#sass-mixins">Sass formüllerini</a> kullanabilirsiniz.
							</ul>
							<p>
								<a href="https://github.com/philipwalton/flexbugs#flexbug-9">Bazı HTML öğelerini esnek kaplar olarak kullanamama</a> gibi, <a href="https://github.com/philipwalton/flexbugs">flexbox çevresindeki sınırlamaların ve hataların</a> farkında olun.

						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Izgara Seçenekleri</h5>
						</div>
						<div class="card-body">
							<p>Bootstrap, çoğu boyutu tanımlamak için <code class="highlighter-rouge">em</code> veya <code class="highlighter-rouge">rem</code> kullanırken, ızgara kesme noktaları ve kapsayıcı genişlikleri için <code class="highlighter-rouge">pikseller</code> kullanılır. Bunun nedeni, görüntü alanı genişliğinin piksel cinsinden olması ve <a href="https://drafts.csswg.org/mediaqueries-3/#units">yazı tipi boyutuyla</a> değişmemesidir.</p>
							<p>Kullanışlı bir tabloyla Bootstrap ızgara sisteminin birçok cihazda nasıl çalıştığına bir göz atın..</p>
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th></th>
											<th class="text-center">
												Çok küçük
												<br />
												<small>&lt;576px</small>
											</th>
											<th class="text-center">
												Küçük
												<br />
												<small>&ge;576px</small>
											</th>
											<th class="text-center">
												Orta
												<br />
												<small>&ge;768px</small>
											</th>
											<th class="text-center">
												Büyük
												<br />
												<small>&ge;992px</small>
											</th>
											<th class="text-center">
												Çok Küçük
												<br />
												<small>&ge;1200px</small>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="text-nowrap" scope="row">Azami konteyner genişliği</th>
											<td>Hiç (oto.)</td>
											<td>540px</td>
											<td>720px</td>
											<td>960px</td>
											<td>1140px</td>
										</tr>
										<tr>
											<th class="text-nowrap" scope="row">Sınıf önekleri</th>
											<td><code>.col-</code></td>
											<td><code>.col-sm-</code></td>
											<td><code>.col-md-</code></td>
											<td><code>.col-lg-</code></td>
											<td><code>.col-xl-</code></td>
										</tr>
										<tr>
											<th class="text-nowrap" scope="row">Sütun sayısı</th>
											<td colspan="5">12</td>
										</tr>
										<tr>
											<th class="text-nowrap" scope="row">Oluk genişliği</th>
											<td colspan="5">30px (Sütunun her yanı için 15px)</td>
										</tr>
										<tr>
											<th class="text-nowrap" scope="row">İç içe</th>
											<td colspan="5">Evet</td>
										</tr>
										<tr>
											<th class="text-nowrap" scope="row">Sütun sıralaması</th>
											<td colspan="5">Evet</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Otomatik yerleşimli Sütunlar</h5>
						</div>
						<div class="card-body">
							<p><code class="highlighter-rouge">.col-sm-6</code> gibi açık bir numaralı sınıf olmadan kolay sütun boyutlandırma için kesme noktasına özgü sütun sınıflarını kullanın..</p>
							<h5 class="mt-5">Eşit aralık</h5>
							<hr>
							<p>Örneğin, burada <code class="highlighter-rouge">xs</code>'den <code class="highlighter-rouge">xl</code>'ye kadar her cihaza ve görünüm alanına uygulanan iki ızgara düzeni vardır. İhtiyacınız olan her kesme noktası için herhangi bir sayıda birimsiz sınıf ekleyin ve her sütun aynı genişlikte olacaktır</p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col">
											2'ye 1
										</div>
										<div class="col">
											2'ye 2
										</div>
									</div>
									<div class="row">
										<div class="col">
											3'e 1
										</div>
										<div class="col">
											3'e 2
										</div>
										<div class="col">
											3'e 3
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				2'ye 1
			&lt;/div&gt;
			&lt;div class="col"&gt;
				2'ye 2
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				3'e 1
			&lt;/div&gt;
			&lt;div class="col"&gt;
				3'e 2
			&lt;/div&gt;
			&lt;div class="col"&gt;
				3'e 3
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<p>Eşit genişlikte sütunlar birden çok satıra bölünebilir, ancak bunun açık bir esnek temel veya kenarlık olmadan çalışmasını engelleyen bir  <a href="https://github.com/philipwalton/flexbugs#flexbug-11">Safari esnek kutusu hatası</a> vardı. Daha eski tarayıcı sürümleri için geçici çözümler vardır, ancak güncel iseniz bunlara gerek yoktur.</p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col">Sütun</div>
										<div class="col">Sütun</div>
										<div class="w-100"></div>
										<div class="col">Sütun</div>
										<div class="col">Sütun</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;Sütun&lt;/div&gt;
			&lt;div class="col"&gt;Sütun&lt;/div&gt;
			&lt;div class="w-100"&gt;&lt;/div&gt;
			&lt;div class="col"&gt;Sütun&lt;/div&gt;
			&lt;div class="col"&gt;Sütun&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Tek sütun genişliğini ayarlama</h5>
							<hr>
							<p>Flexbox ızgara sütunları için otomatik yerleşim, bir sütunun genişliğini ayarlayabileceğiniz ve kardeş sütunların çevresinde otomatik olarak yeniden boyutlandırılmasını sağlayabileceğiniz anlamına gelir. Önceden tanımlanmış ızgara sınıflarını (aşağıda gösterildiği gibi), ızgara karışımlarını veya satır içi genişlikleri kullanabilirsiniz. Orta sütunun genişliği ne olursa olsun diğer sütunların yeniden boyutlandırılacağını unutmayın.</p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col">
											3'e 1
										</div>
										<div class="col-6">
											3'e 2 (geniş)
										</div>
										<div class="col">
											3'e 3
										</div>
									</div>
									<div class="row">
										<div class="col">
											3'e 1
										</div>
										<div class="col-5">
											3'e 2 (geniş)
										</div>
										<div class="col">
											3'e 3
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				3'e 1
			&lt;/div&gt;
			&lt;div class="col-6"&gt;
				3'e 1 (geniş)
			&lt;/div&gt;
			&lt;div class="col"&gt;
				3'e 3
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				3'e 1
			&lt;/div&gt;
			&lt;div class="col-5"&gt;
				3'e 1 (geniş)
			&lt;/div&gt;
			&lt;div class="col"&gt;
				3'e 1
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

													</code>
												</pre>
							</div>
							<h5 class="mt-5">İçerik ile Değişken Genişlik</h5>
							<hr>
							<p>Sütunları içeriklerinin doğal genişliğine göre boyutlandırmak için <code class="highlighter-rouge">col-{breakpoint}-auto</code> sınıflarını kullanın.</p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row justify-content-md-center">
										<div class="col col-lg-2">
											3'de 1
										</div>
										<div class="col-md-auto">
											İçerikle birlikte değişken genişlik
										</div>
										<div class="col col-lg-2">
											3'de 3
										</div>
									</div>
									<div class="row">
										<div class="col">
											3'de 1
										</div>
										<div class="col-md-auto">
											İçerikle birlikte değişken genişlik
										</div>
										<div class="col col-lg-2">
											3'de 3
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row justify-content-md-center"&gt;
			&lt;div class="col col-lg-2"&gt;
				3'de 1
			&lt;/div&gt;
			&lt;div class="col-md-auto"&gt;
				İçerikle birlikte değişken genişlik
			&lt;/div&gt;
			&lt;div class="col col-lg-2"&gt;
				3'de 3
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				3'de 1
			&lt;/div&gt;
			&lt;div class="col-md-auto"&gt;
				İçerikle birlikte değişken genişlik
			&lt;/div&gt;
			&lt;div class="col col-lg-2"&gt;
				3'de 3
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<h5 class="mt-5">Çoklu Satırda Eşit Genişlik</h5>
							<hr>
							<p>Sütunların yeni bir satıra bölünmesini istediğiniz yere bir <code class="highlighter-rouge">.w-100</code> ekleyerek birden çok satıra yayılan eşit genişlikte sütunlar oluşturun. <code class="highlighter-rouge">.w-100</code>'ü bazı <a href="/docs/4.1/utilities/display/">duyarlı görüntüleme yardımcı programlarıyla</a> karıştırarak araları duyarlı hale getirin.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col">sütun</div>
										<div class="col">sütun</div>
										<div class="w-100"></div>
										<div class="col">sütun</div>
										<div class="col">sütun</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col"&gt;sütun&lt;/div&gt;
		&lt;div class="col"&gt;sütun&lt;/div&gt;
		&lt;div class="w-100"&gt;&lt;/div&gt;
		&lt;div class="col"&gt;sütun&lt;/div&gt;
		&lt;div class="col"&gt;sütun&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Duyarlı Sınıflar</h5>
						</div>
						<div class="card-body">
							<p>Bootstrap'in ızgarası, karmaşık duyarlı düzenler oluşturmak için önceden tanımlanmış beş katman içerir. Sütunlarınızın boyutunu çok küçük, küçük, orta, büyük veya çok büyük cihazlarda uygun gördüğünüz şekilde özelleştirin.</p>
							<h5 class="mt-5">Tüm kırılma noktaları</h5>
							<hr>
							<p>En küçüğünden en büyüğüne kadar aynı olan ızgaralar için <code class="highlighter-rouge">.col</code> ve <code class="highlighter-rouge">.col-*</code> sınıflarını kullanın. Özellikle boyutlandırılmış bir sütuna ihtiyacınız olduğunda numaralı bir sınıf belirtin; aksi takdirde, <code class="highlighter-rouge">.col</code>'e bağlı kalmaktan çekinmeyin..</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col">col</div>
										<div class="col">col</div>
										<div class="col">col</div>
										<div class="col">col</div>
									</div>
									<div class="row">
										<div class="col-8">col-8</div>
										<div class="col-4">col-4</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col"&gt;col&lt;/div&gt;
		&lt;div class="col"&gt;col&lt;/div&gt;
		&lt;div class="col"&gt;col&lt;/div&gt;
		&lt;div class="col"&gt;col&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-8"&gt;col-8&lt;/div&gt;
		&lt;div class="col-4"&gt;col-4&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<h5 class="mt-5">Yatay Yığılma</h5>
							<hr>
							<p>Tek bir <code class="highlighter-rouge">.col-sm-*</code> sınıfı kümesi kullanarak, yığın halinde başlayan ve küçük kesme noktasında (<code class="highlighter-rouge">sm</code>) yatay hale gelen temel bir ızgara sistemi oluşturabilirsiniz.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-8">col-sm-8</div>
										<div class="col-sm-4">col-sm-4</div>
									</div>
									<div class="row">
										<div class="col-sm">col-sm</div>
										<div class="col-sm">col-sm</div>
										<div class="col-sm">col-sm</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-sm-8"&gt;col-sm-8&lt;/div&gt;
		&lt;div class="col-sm-4"&gt;col-sm-4&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-sm"&gt;col-sm&lt;/div&gt;
		&lt;div class="col-sm"&gt;col-sm&lt;/div&gt;
		&lt;div class="col-sm"&gt;col-sm&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Karıştır ve Eşleştir</h5>
							<hr>
							<p>Sütunlarınızın yalnızca bazı ızgara katmanlarında yığılmasını istemiyor musunuz? Gerektiğinde her katman için farklı sınıfların bir kombinasyonunu kullanın. Her şeyin nasıl çalıştığına dair daha iyi bir fikir için aşağıdaki örneğe bakın.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-12 col-md-8">.col-12 .col-md-8</div>
										<div class="col-6 col-md-4">.col-6 .col-md-4</div>
									</div>
									<div class="row">
										<div class="col-6 col-md-4">.col-6 .col-md-4</div>
										<div class="col-6 col-md-4">.col-6 .col-md-4</div>
										<div class="col-6 col-md-4">.col-6 .col-md-4</div>
									</div>
									<div class="row">
										<div class="col-6">.col-6</div>
										<div class="col-6">.col-6</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;!-- Birini tam genişlikte ve diğerini yarım genişlikte yaparak sütunları mobilde istifleyin --&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-12 col-md-8"&gt;.col-12 .col-md-8&lt;/div&gt;
		&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- Sütunlar mobilde %50 genişlikte başlar ve masaüstünde %33,3'e kadar genişler --&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
		&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
		&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
	&lt;/div&gt;

	&lt;!-- Sütunlar mobilde ve masaüstünde her zaman %50 genişliğindedir --&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-6"&gt;.col-6&lt;/div&gt;
		&lt;div class="col-6"&gt;.col-6&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Hizalama</h5>
						</div>
						<div class="card-body">
							<p>Sütunları dikey ve yatay olarak hizalamak için esnek kutu hizalama yardımcı programlarını kullanın.</p>

							<h5 class="mt-5">Dikey Hizalama</h5>
							<hr>
							<div class="bd-example-row bd-example-row-flex-cols">
								<div class="container">
									<div class="row align-items-start">
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
									</div>
									<div class="row align-items-center">
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
									</div>
									<div class="row align-items-end">
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
										<div class="col">
											Üç sütundan biri
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row align-items-start"&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row align-items-center"&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row align-items-end"&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col"&gt;
				Üç sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<div class="bd-example-row bd-example-row-flex-cols">
								<div class="container">
									<div class="row">
										<div class="col align-self-start">
											Üç sütundan biri
										</div>
										<div class="col align-self-center">
											Üç sütundan biri
										</div>
										<div class="col align-self-end">
											Üç sütundan biri
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col align-self-start"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col align-self-center"&gt;
				Üç sütundan biri
			&lt;/div&gt;
			&lt;div class="col align-self-end"&gt;
				Üç sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Yatay Hizalama</h5>
							<hr>
							<div class="bd-example-row">
								<div class="container">
									<div class="row justify-content-start">
										<div class="col-4">
											İki sütundan biri
										</div>
										<div class="col-4">
											İki sütundan biri
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-4">
											İki sütundan biri
										</div>
										<div class="col-4">
											İki sütundan biri
										</div>
									</div>
									<div class="row justify-content-end">
										<div class="col-4">
											İki sütundan biri
										</div>
										<div class="col-4">
											İki sütundan biri
										</div>
									</div>
									<div class="row justify-content-around">
										<div class="col-4">
											İki sütundan biri
										</div>
										<div class="col-4">
											İki sütundan biri
										</div>
									</div>
									<div class="row justify-content-between">
										<div class="col-4">
											İki sütundan biri
										</div>
										<div class="col-4">
											İki sütundan biri
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row justify-content-start"&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row justify-content-center"&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row justify-content-end"&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row justify-content-around"&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="row justify-content-between"&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
			&lt;div class="col-4"&gt;
				İki sütundan biri
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Oluksuz</h5>
							<hr>
							<p>Önceden tanımlanmış grid sınıflarımızda sütunlar arasındaki oluklar <code class="highlighter-rouge">.no-gutters</code> ile kaldırılabilir. Bu, <code class="highlighter-rouge">.row</code>'dan negatif kenar boşluklarını ve tüm doğrudan alt sütunlardan yatay dolguyu kaldırır.
								<p>İşte bu stilleri oluşturmak için kaynak kodu. Sütun geçersiz kılma işlemlerinin yalnızca ilk alt sütunları kapsadığını ve öznitelik seçici aracılığıyla hedeflendiğini unutmayın. Bu, daha spesifik bir seçici oluştururken, sütun dolgusu, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors">boşluk yardımcı programları</a> ile daha da özelleştirilebilir.</p>

							<p>Uçtan uca bir tasarıma mı ihtiyacınız var? Üst <code class="highlighter-rouge">.container</code> veya <code class="highlighter-rouge">.container-fluid</code> öğesini bırakın.</p>
							<pre>
												<code class="language-scss">
	.no-gutters {
		margin-right: 0;
		margin-left: 0;

		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
												</code>
											</pre>
							<p>Pratikte, işte böyle görünüyor. Bunu diğer tüm önceden tanımlanmış ızgara sınıflarıyla (sütun genişlikleri, yanıt veren katmanlar, yeniden sıralamalar ve daha fazlası dahil) kullanmaya devam edebileceğinizi unutmayın.</p>
							<div class="bd-example-row">
								<div class="row no-gutters">
									<div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>
									<div class="col-6 col-md-4">.col-6 .col-md-4</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row no-gutters"&gt;
		&lt;div class="col-12 col-sm-6 col-md-8"&gt;.col-12 .col-sm-6 .col-md-8&lt;/div&gt;
		&lt;div class="col-6 col-md-4"&gt;.col-6 .col-md-4&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Sütun Sarmalama</h5>
							<hr>
							<p>Tek bir satıra 12'den fazla sütun yerleştirilirse, her bir fazladan sütun grubu bir birim olarak yeni bir satıra sarılır.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-9">.col-9</div>
										<div class="col-4">.col-4
											<br />9 + 4 = 13 > 12 olduğundan, bu 4 sütun genişliğindeki div, tek bir bitişik birim olarak yeni bir satıra sarılır.</div>
										<div class="col-6">.col-6
											<br />Sonraki sütunlar yeni satır boyunca devam eder.
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-9"&gt;.col-9&lt;/div&gt;
		&lt;div class="col-4"&gt;.col-4
			&lt;9 + 4 = 13 > 12 olduğundan, bu 4 sütun genişliğindeki div, tek bir bitişik birim olarak yeni bir satıra sarılır.
		&lt;/div&gt;
		&lt;div class="col-6"&gt;.col-6
			&lt;br /&gt;Sonraki sütunlar yeni satır boyunca devam eder.
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Sütun Sonları</h5>
							<hr>
							<p>Flexbox'ta sütunları yeni bir satıra bölmek, küçük bir kesme gerektirir: sütunlarınızı yeni bir satıra sarmak istediğiniz yere <code class="highlighter-rouge">width: 100%</code> olan bir öğe ekleyin. Normalde bu, birden çok <code class="highlighter-rouge">.row</code> ile gerçekleştirilir, ancak her uygulama yöntemi bunu hesaba katamaz.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
										<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>

										<!-- Force next columns to break to new line -->
										<div class="w-100"></div>

										<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
										<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
		&lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;

		&lt;!-- Force next columns to break to new line --&gt;
		&lt;div class="w-100"&gt;&lt;/div&gt;

		&lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
		&lt;div class="col-6 col-sm-3"&gt;.col-6 .col-sm-3&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<p>Bu arayı, <a href="/docs/4.1/utilities/display/">duyarlı görüntüleme yardımcı</a> programlarımızla belirli kesme noktalarında da uygulayabilirsiniz.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
										<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>

										<!-- Force next columns to break to new line at md breakpoint and up -->
										<div class="w-100 d-none d-md-block"></div>

										<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
										<div class="col-6 col-sm-4">.col-6 .col-sm-4</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-6 col-sm-4"&gt;.col-6 .col-sm-4&lt;/div&gt;
		&lt;div class="col-6 col-sm-4"&gt;.col-6 .col-sm-4&lt;/div&gt;

		&lt;!-- Force next columns to break to new line at md breakpoint and up --&gt;
		&lt;div class="w-100 d-none d-md-block"&gt;&lt;/div&gt;

		&lt;div class="col-6 col-sm-4"&gt;.col-6 .col-sm-4&lt;/div&gt;
		&lt;div class="col-6 col-sm-4"&gt;.col-6 .col-sm-4&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Yeniden Sıralama</h5>
						</div>
						<div class="card-body">
							<h5>Sıralama Sınıfları</h5>
							<hr>
							<p>İçeriğinizin görsel sırasını kontrol etmek için <code class="highlighter-rouge">.order-</code> sınıflarını kullanın. Bu sınıflar duyarlıdır, böylece sırayı kesme noktasına göre ayarlayabilirsiniz (örneğin, <code class="highlighter-rouge">.order-1.order-md-2</code>). Beş ızgara katmanının tamamında 1'den 12'ye kadar destek içerir.
							</p>
							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col">
											İlk, ama sırasız
										</div>
										<div class="col order-12">
											İkinci, ama son
										</div>
										<div class="col order-1">
											Üçüncü lakin ilk
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col"&gt;
				İlk, ama sırasız
			&lt;/div&gt;
			&lt;div class="col order-12"&gt;
				İkinci, ama son
			&lt;/div&gt;
			&lt;div class="col order-1"&gt;
				Üçüncü lakin ilk
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
							<p>Sırasıyla <code class="highlighter-rouge">order: -1</code> ve <code class="highlighter-rouge">order: 13</code> (<code class="highlighter-rouge">order: $columns + 1</code>) uygulayarak bir öğenin sırasını değiştiren duyarlı <code class="highlighter-rouge">.order-first</code> ve <code class="highlighter-rouge">.order-last</code> sınıfları da vardır. Bu sınıflar, gerektiğinde numaralandırılmış .<code class="highlighter-rouge">order-*</code> sınıflarıyla da karıştırılabilir.</p>

							<div class="bd-example-row">
								<div class="container">
									<div class="row">
										<div class="col order-last">
											İlk, ama sonuncu
										</div>
										<div class="col">
											İkinci, ama sırasız
										</div>
										<div class="col order-first">
											Üçüncü lakin ilk
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="container"&gt;
		&lt;div class="row"&gt;
			&lt;div class="col order-last"&gt;
				İlk, ama sonuncu
			&lt;/div&gt;
			&lt;div class="col"&gt;
				İkinci, ama sırasız
			&lt;/div&gt;
			&lt;div class="col order-first"&gt;
				Üçüncü lakin ilk
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Sütun Ofsetleri</h5>
							<hr>
							<p>Izgara sütunlarını iki şekilde ofsetleyebilirsiniz: duyarlı <code class="highlighter-rouge">.offset-grid</code> sınıflarımız ve <a href="/docs/4.1/utilities/spacing/">kenar boşluğu yardımcı</a> programlarımız. Izgara sınıfları, sütunlarla eşleşecek şekilde boyutlandırılırken, kenar boşlukları, ofset genişliğinin değişken olduğu hızlı düzenler için daha kullanışlıdır.</p>
							<h5 class="mt-5">Ofset Sınıfları</h5>
							<hr>
							<p><code class="highlighter-rouge">.offset-md-*</code> sınıflarını kullanarak sütunları sağa taşıyın. Bu sınıflar, bir sütunun sol kenar boşluğunu * sütunlarla artırır. Örneğin, <code class="highlighter-rouge">.offset-md-4</code>, <code class="highlighter-rouge">.col-md-4</code>'ü dört sütun üzerinde taşır.</p>
							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-4">.col-md-4</div>
										<div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
									</div>
									<div class="row">
										<div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
										<div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
									</div>
									<div class="row">
										<div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-md-4"&gt;.col-md-4&lt;/div&gt;
		&lt;div class="col-md-4 offset-md-4"&gt;.col-md-4 .offset-md-4&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-3 offset-md-3"&gt;.col-md-3 .offset-md-3&lt;/div&gt;
		&lt;div class="col-md-3 offset-md-3"&gt;.col-md-3 .offset-md-3&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-6 offset-md-3"&gt;.col-md-6 .offset-md-3&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<p>Duyarlı kesme noktalarında sütun temizlemeye ek olarak, ofsetleri sıfırlamanız gerekebilir. Bunu <a href="/docs/4.1/examples/grid/">ızgara örneğinde</a> çalışırken görün.</p>

							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
										<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">.col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0</div>
									</div>

									<div class="row">
										<div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
										<div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">.col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-sm-5 col-md-6"&gt;.col-sm-5 .col-md-6&lt;/div&gt;
		&lt;div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"&gt;.col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-sm-6 col-md-5 col-lg-6"&gt;.col-sm-6 .col-md-5 .col-lg-6&lt;/div&gt;
		&lt;div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"&gt;.col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>

							<h5 class="mt-5">Marj Araçları</h5>
							<hr>
							<p>v4'te flexbox'a geçişle, kardeş sütunları birbirinden uzaklaştırmak için <code class="highlighter-rouge">.mr-auto</code> gibi kenar boşluğu yardımcı programlarını kullanabilirsiniz.</p>

							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-4">.col-md-4</div>
										<div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
									</div>
									<div class="row">
										<div class="col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
										<div class="col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
									</div>
									<div class="row">
										<div class="col-auto mr-auto">.col-auto .mr-auto</div>
										<div class="col-auto">.col-auto</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-md-4"&gt;.col-md-4&lt;/div&gt;
		&lt;div class="col-md-4 ml-auto"&gt;.col-md-4 .ml-auto&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-md-3 ml-md-auto"&gt;.col-md-3 .ml-md-auto&lt;/div&gt;
		&lt;div class="col-md-3 ml-md-auto"&gt;.col-md-3 .ml-md-auto&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-auto mr-auto"&gt;.col-auto .mr-auto&lt;/div&gt;
		&lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>İç İçe Geçme</h5>
						</div>
						<div class="card-body">
							<p>Tİçeriğinizi varsayılan kılavuzla iç içe yerleştirmek için, mevcut bir <code class="highlighter-rouge">.col-sm-*</code> sütununa yeni bir <code class="highlighter-rouge">.row</code> ve <code class="highlighter-rouge">.col-sm-*</code> sütunları kümesi ekleyin. İç içe satırlar, toplamı 12 veya daha az olan bir sütun kümesi içermelidir (mevcut 12 sütunun tümünü kullanmanız gerekmez).</p>

							<div class="bd-example-row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-9">
											Level 1: .col-sm-9
											<div class="row">
												<div class="col-8 col-sm-6">
													Level 2: .col-8 .col-sm-6
												</div>
												<div class="col-4 col-sm-6">
													Level 2: .col-4 .col-sm-6
												</div>
											</div>
										</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="row"&gt;
		&lt;div class="col-sm-9"&gt;
			Level 1: .col-sm-9
			&lt;div class="row"&gt;
				&lt;div class="col-8 col-sm-6"&gt;
					Level 2: .col-8 .col-sm-6
				&lt;/div&gt;
				&lt;div class="col-4 col-sm-6"&gt;
					Level 2: .col-4 .col-sm-6
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
												</code>
											</pre>
							</div>
							<p>Bootstrap'in kaynak Sass dosyalarını kullanırken, özel, anlamsal ve duyarlı sayfa düzenleri oluşturmak için Sass değişkenlerini ve karışımlarını kullanma seçeneğiniz vardır. Önceden tanımlanmış ızgara sınıflarımız, hızlı yanıt veren düzenler için eksiksiz bir kullanıma hazır sınıf paketi sağlamak için bu aynı değişkenleri ve karışımları kullanır.</p>

							<h5 class="mt-5">Değişkenler</h5>
							<hr>
							<p>Variables and maps determine the number of columns, the gutter width, and the media query point at which to begin floating columns. We use these to generate the predefined grid classes documented above, as well as for the custom mixins listed below.</p>
							<pre>
												<code class="language-scss">
	$grid-columns: 12;
	$grid-gutter-width: 30px;

	$grid-breakpoints: (
		// Çok küçük ekran / telefon
		xs: 0,
		// Küçük ekran / telefon
		sm: 576px,
		// Normal ekran / tablet
		md: 768px,
		// Büyük ekran / masaüstü
		lg: 992px,
		// Çok büyük ekran / ultra geniş ekran
		xl: 1200px
	);

	$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px
	);
												</code>
											</pre>

							<h5 class="mt-5">Karışımlar</h5>
							<hr>
							<p>Karışımlar, ayrı ızgara sütunları için anlamsal CSS oluşturmak üzere ızgara değişkenleriyle birlikte kullanılır.</p>
							<pre>
												<code class="language-scss">
	// Bir dizi sütun için bir sarmalayıcı oluşturur
	@include make-row();

	// Elemanı ızgaraya hazır hale getirin (genişlik dışında her şeyi uygulayarak)
	@include make-col-ready();
	@include make-col($size, $columns: $grid-columns);

	// Dengeleyerek veya sıralama düzenini değiştirerek şık olun
	@include make-col-offset($size, $columns: $grid-columns);
												</code>
											</pre>

							<h5 class="mt-5">Örnek Kullanım</h5>
							<hr>
							<p>Değişkenleri kendi özel değerlerinize göre değiştirebilir veya karışımları varsayılan değerleriyle kullanabilirsiniz. Burada, boşluklu iki sütunlu bir düzen oluşturmak için varsayılan ayarların kullanılmasına ilişkin bir örnek verilmiştir.
								arasında.</p>
							<pre>
												<code class="language-scss">
	.example-container {
		width: 800px;
		@include make-container();
	}

	.example-row {
		@include make-row();
	}

	.example-content-main {
		@include make-col-ready();

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(8);
		}
	}

	.example-content-secondary {
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(4);
		}
	}
												</code>
											</pre>

							<div class="bd-example-row">
								<div class="example-container">
									<div class="example-row">
										<div class="example-content-main">Ana içerik</div>
										<div class="example-content-secondary">İkincil içerik</div>
									</div>
								</div>
								<pre>
													<code class="language-markup">
	&lt;div class="example-container"&gt;
		&lt;div class="example-row"&gt;
			&lt;div class="example-content-main"&gt;Ana içerik&lt;/div&gt;
			&lt;div class="example-content-secondary"&gt;İkincil içerik&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
													</code>
												</pre>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Izgarayı Özelleştirmek</h5>
						</div>
						<div class="card-body">
							<p>Yerleşik ızgara Sass değişkenlerimizi ve haritalarımızı kullanarak önceden tanımlanmış ızgara sınıflarını tamamen özelleştirmek mümkündür. Katman sayısını, ortam sorgu boyutlarını ve kapsayıcı genişliklerini değiştirin ve ardından yeniden derleyin.</p>

							<h5 class="mt-2">Sütunlar ve Oluklar</h5>
							<hr>
							<p>Izgara sütunlarının sayısı, Sass değişkenleri aracılığıyla değiştirilebilir. <code class="highlighter-rouge">$grid-columns</code>, her bir sütunun genişliklerini (yüzde olarak) oluşturmak için kullanılırken, <code class="highlighter-rouge">$grid-gutter-width</code>, sütun olukları için sol dolgu ve sağ dolgu arasında eşit olarak bölünen kesme noktasına özgü genişliklere izin verir.</p>
							<pre>
												<code class="language-scss">
	$grid-columns: 12 !default;
	$grid-gutter-width: 30px !default;
												</code>
											</pre>

							<h5 class="mt-5">Izgara Katmanları</h5>
							<hr>
							<p>Sütunların ötesine geçerek ızgara katmanlarının sayısını da özelleştirebilirsiniz. Yalnızca dört ızgara katmanı istiyorsanız, <code class="highlighter-rouge">$grid-breakpoints</code> ve <code class="highlighter-rouge">$container-max-widths</code> değerlerini aşağıdaki gibi güncellersiniz:</p>
							<pre>
												<code class="language-scss">
	$grid-breakpoints: (
		xs: 0,
		sm: 480px,
		md: 768px,
		lg: 1024px
	);

	$container-max-widths: (
		sm: 420px,
		md: 720px,
		lg: 960px
	);
												</code>
											</pre>
							<p>Sass değişkenlerinde veya haritalarında herhangi bir değişiklik yaparken, değişikliklerinizi kaydetmeniz ve yeniden derlemeniz gerekir. Bunu yapmak, sütun genişlikleri, ofsetler ve sıralama için yepyeni bir dizi önceden tanımlanmış ızgara sınıfının çıktısını verecektir. Duyarlı görünürlük yardımcı programları da özel kesme noktalarını kullanacak şekilde güncellenecektir. Izgara değerlerini <code class="highlighter-rouge">px</code> olarak ayarladığınızdan emin olun (<code class="highlighter-rouge">rem</code>, <code class="highlighter-rouge">em</code> veya <code class="highlighter-rouge">%</code> değil).</p>
						</div>
					</div>
				</div>
				<!-- [ grid ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
