{% extends "layouts/base.html" %}

{% block title %} UI Spinner {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Helezon</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Temel Elemanlar</a></li>
								<li class="breadcrumb-item"><a href="#!">Helezon</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ spinner ] start -->
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Kontur Helezon</h5>
						</div>
						<div class="card-body">
							<div class="spinner-border" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Kontur Helezon [ Renkli ]</h5>
						</div>
						<div class="card-body">
							<div class="spinner-border text-primary" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-secondary" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-success" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-danger" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-warning" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-info" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-light" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-border text-dark" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Büyüyen Helezon</h5>
						</div>
						<div class="card-body">
							<div class="spinner-grow" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Büyüyen Helezon [ Renkli ]</h5>
						</div>
						<div class="card-body">
							<div class="spinner-grow text-primary" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-secondary" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-success" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-danger" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-warning" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-info" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-light" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow text-dark" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Yerleştirme</h5>
						</div>
						<div class="card-body">
							<h6>Başlangıç</h6>
							<div class="d-flex justify-content-start">
								<div class="spinner-border" role="status">
									<span class="sr-only">Yükleniyor...</span>
								</div>
							</div>
							<hr>
							<h6>Merkez</h6>
							<div class="d-flex justify-content-center">
								<div class="spinner-border" role="status">
									<span class="sr-only">Yükleniyor...</span>
								</div>
							</div>
							<hr>
							<h6>Son</h6>
							<div class="d-flex justify-content-end">
								<div class="spinner-border" role="status">
									<span class="sr-only">Yükleniyor...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-header">
							<h5>Boyutlar</h5>
						</div>
						<div class="card-body">
							<h6>Küçük</h6>
							<div class="spinner-border spinner-border-sm" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow spinner-grow-sm" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<hr>
							<h6>Özel</h6>
							<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
							<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
								<span class="sr-only">Yükleniyor...</span>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h5>Düğmeler</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class=" col-sm-6">
									<button class="btn  btn-primary m-2" type="button" disabled>
										<span class="spinner-border spinner-border-sm" role="status"></span>
										<span class="sr-only">Yükleniyor...</span>
									</button>
									<button class="btn  btn-primary m-2" type="button" disabled>
										<span class="spinner-border spinner-border-sm" role="status"></span>
										Yükleniyor...
									</button>
								</div>
								<div class="col-sm-6">
									<button class="btn  btn-primary m-2" type="button" disabled>
										<span class="spinner-grow spinner-grow-sm" role="status"></span>
										<span class="sr-only">Yükleniyor...</span>
									</button>
									<button class="btn  btn-primary m-2" type="button" disabled>
										<span class="spinner-grow spinner-grow-sm" role="status"></span>
										Yükleniyor...
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Eylem Düğmeleri</h5>
						</div>
						<div class="card-body">
							<button class="btn btn-primary event-btn m-2" type="button">
								<span class="spinner-border spinner-border-sm" role="status"></span>
								<span class="load-text">Yükleniyor...</span>
								<span class="btn-text">Gönder</span>
							</button>
							<button class="btn btn-primary event-btn m-2" type="button">
								<span class="spinner-grow spinner-grow-sm" role="status"></span>
								<span class="load-text">Yükleniyor...</span>
								<span class="btn-text">Gönder</span>
							</button>
						</div>
					</div>
				</div>
				<!-- [ spinner ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
