{% extends "layouts/base.html" %}

{% block title %} UI Tooltip {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}		

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">İpucu &amp; Üstbilgi</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Temel Elemanlar</a></li>
								<li class="breadcrumb-item"><a href="#!">İpucu &amp; Üstbilgi</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ tooltip ] start -->
				<div class="col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>İpucu</h5>
						</div>
						<div class="card-body btn-page">
							<button type="button" class="btn  btn-danger" data-toggle="tooltip" data-placement="top" title="Üstten ipucu">Üst</button>
							<button type="button" class="btn  btn-primary" data-toggle="tooltip" data-placement="left" title="Soldan ipucu">Sol</button>
							<button type="button" class="btn  btn-success" data-toggle="tooltip" data-placement="right" title="Sağdan ipucu">Sağ</button>
							<button type="button" class="btn  btn-warning" data-toggle="tooltip" data-placement="bottom" title="Alttan ipucu">Alt</button>
							<button type="button" class="btn  btn-info" data-toggle="tooltip" data-html="true" title="<b>HTML</b> <u>ile</u> <em>İpucu</em>">Html İpucu</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Üstbilgi</h5>
						</div>
						<div class="card-body btn-page">
							<button type="button" class="btn  btn-danger" data-toggle="popover" data-placement="top" title="" data-content="top by popover" data-original-title="Üstten gelen üstbilgi">Üst</button>
							<button type="button" class="btn  btn-primary" data-toggle="popover" data-placement="left" title="Soldan gelen üstbilgi" data-content="left by popover">Sol</button>
							<button type="button" class="btn  btn-success" data-toggle="popover" data-placement="right" title="Sağdan gelen üstbilgi" data-content="right by popover">Sağ</button>
							<button type="button" class="btn  btn-warning" data-toggle="popover" data-placement="bottom" title="Alttan gelen üstbilgi" data-content="bottom by popover">Alt</button>
							<button type="button" class="btn  btn-info" data-toggle="popover" data-html="true" data-placement="top" title="<em>popup</em> <u>with</u> <b>HTML</b>" data-content="HTML üstbilgi">Html Üstbilgi</button>
						</div>
					</div>
				</div>
				<!-- [ tooltip ] end -->
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
