{% extends "layouts/base.html" %}

{% block title %} Apex Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Radyal Grafik</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Çizelge</a></li>
                                <li class="breadcrumb-item"><a href="#!">Radyal Grafik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ variant-chart ] start -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Temel çizgi grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="line-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Gerçek zamanlı grafik</h5>
                        </div>
                        <div class="card-body">
                            <div id="line-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Farklı çizgi grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="line-chart-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Alan grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="area-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Alan grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div class="toolbar btn-group">
                                <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
                                <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
                                <button id="one_year" class="btn btn-sm btn-outline-primary active">1Y</button>
                                <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
                                <button id="all" class="btn btn-sm btn-outline-primary">ALL</button>
                            </div>
                            <div id="area-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Bar grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Yığma bar grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Yatay bar grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Yatay yığma bar grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Karma grafik</h5>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Karma grafik</h5>
                        </div>
                        <div class="card-body">
                            <div id="mixed-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Şamdan grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="candlestick-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Balon grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bubble-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>3b Balon grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="bubble-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Dağılım Grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="scatter-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tarih ve Saat Dağılım Grafiği</h5>
                        </div>
                        <div class="card-body">
                            <div id="scatter-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Isı Haritası Grafikleri Yuvarlatılmış</h5>
                        </div>
                        <div class="card-body">
                            <div id="heatmap-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Isı Haritası Grafikleri Yuvarlatılmış</h5>
                        </div>
                        <div class="card-body">
                            <div id="heatmap-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pasta grafikler</h5>
                        </div>
                        <div class="card-body">
                            <div id="pie-chart-1" style="width:100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pasta Grafikler çörek</h5>
                        </div>
                        <div class="card-body">
                            <div id="pie-chart-2" style="width:100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Radyal Çubuk Grafikler</h5>
                        </div>
                        <div class="card-body">
                            <div id="radialBar-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Özel Açılı Radyal Çubuk Grafikler</h5>
                        </div>
                        <div class="card-body">
                            <div id="radialBar-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Radar grafikler</h5>
                        </div>
                        <div class="card-body">
                            <div id="radar-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Çoklu seriler için radar grafikler</h5>
                        </div>
                        <div class="card-body">
                            <div id="radar-chart-2"></div>
                        </div>
                    </div>
                </div>
                <!-- [ variant-chart ] end -->

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
