{% extends "layouts/base.html" %}

{% block title %} Maps Google {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}		

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Google Map</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Haritalar</a></li>
                                <li class="breadcrumb-item"><a href="#!">Google Maps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ basic-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Basic</h5>
                            <span class="d-block m-t-5">Harita dünyadaki yerleri gösterir</span>
                        </div>
                        <div class="card-body">
                            <div id="basic-map" class="set-map" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <!-- [ basic-map ] end -->
                <!-- [ Markers-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>İŞaretler</h5>
                            <span class="d-block m-t-5">Haritalar <code>kokasyon</code> bilgilerini gösterir.</span>
                        </div>
                        <div class="card-body">
                            <div id="markers-map" class="set-map" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <!-- [ Markers-map ] end -->
                <!-- [ Geo-Coding-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Coğrafi Kodlama</h5>
                            <span class="d-block m-t-5">Konumunuzu arayın</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form1">
                                <div class="input-group input-group-button mb-3">
                                    <input type="text" id="address" class="form-control" placeholder="Konumunuzu yazın">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <button class="btn  btn-primary m-0">Konum ara</button>
                                    </span>
                                </div>
                            </form>
                            <div id="mapGeo" class="set-map" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
                <!-- [ Geo-Coding-map ] end -->
                <!-- [ Overlay-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Kaplama</h5>
                            <span class="d-block m-t-5">Harita dünyadaki yerleri gösterir</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form2">
                                <div id="mapOverlay" class="set-map" style="height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ Overlay-map ] end -->
                <!-- [ Street-View-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Street View</h5>
                            <span class="d-block m-t-5">Harita caddenin görünümünü gösterir</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form3">
                                <div id="mapStreet" class="set-map" style="height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ Street-View-map ] end -->
                <!-- [ Map-Types-map ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Harita Tipleri</h5>
                            <span class="d-block m-t-5"><code>Harita tipinizi</code>farklı görüntüleme seçenekleri için seçiniz.</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form4">
                                <div id="mapTypes" class="set-map" style="height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ Map-Types-map ] end -->
                <!-- [ GeoRSS-Layers ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>GeoRSS Katmanları</h5>
                            <span class="d-block m-t-5">Konumunuzun <code>RSS</code> bilgisini gösterir</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form5">
                                <div id="georssmap" class="set-map" style="height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ GeoRSS-Layers ] end -->
                <!-- [ Marker-Clustering ] start -->
                <div class="col-lg-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>İşaret Kümelemesi</h5>
                            <span class="d-block m-t-5">Birden çok işaretçi farklı konum gösterir</span>
                        </div>
                        <div class="card-body">
                            <form method="post" id="geocoding_form6">
                                <div id="map" class="set-map" style="height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- [ Marker-Clustering ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- google-map Js -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="/static/assets/js/plugins/gmaps.min.js"></script>
    <script src="/static/assets/js/pages/google-maps.js"></script>

{% endblock javascripts %}
